footer {
  @include clearfix;
  background: $light-block-background-color;
  color: $light-block-text-color;
  font-size: 85%;

  .footer-wrapper {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2em 0;

    > div {
      box-sizing: border-box;
      flex-basis: 100%;
      margin: 0 0 2em;
      padding: 0 1em;

      @include breakpoint($display-medium) {
        padding: 0 2em;
      }

      @include breakpoint($display-large) {
        flex-basis: calc(100% / 3);
      }

    }

    > div:first-child {
      @include breakpoint($display-large) {
        padding-left: 0;
      }
    }

    > div:last-child {
      @include breakpoint($display-large) {
        padding-right: 0;
      }
    }
  }

  a {
    color: $light-block-link-color;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: $wwu-light-blue;
    text-decoration: underline;
  }

  .footer-right {
    border-left: 1px solid $light-table-border-color;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
