.site-header-wrapper {
  background: $light-text-background-color;

  .center-content {
    padding: 0;

    @include breakpoint($display-large) {
      padding: 0 2em;
    }
  }
}

.site-header {
  @include clearfix;
  background: transparent  url('../images/western.svg') top 20px left 20px / 80px no-repeat;
  padding: 80px 0 0;

  @include breakpoint($display-large) {
    background-position: center left;
    background-size: 100px;
    padding: 0 0 0 120px;
  }
}

.site-name {
  @include squish-text;
  float: left;
}
