.main-menu {
  @include clearfix;
  color: $light-text-color;

  h2 {
    @include squish-text;
  }

  ul {
    display: none;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    @include breakpoint($display-large) {
      display: table;
      width: auto;
    }
  }

  li {
    display: block;

    @include breakpoint($display-large) {
      float: left;
    }
  }

  a {
    border: 1px solid transparent;
    border-top-color: $secondary-color-lighter;
    color: $light-text-color;
    display: block;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s;

    @include breakpoint($display-large) {
      border-top-color: transparent;
      padding: 2em;
    }
  }

  a:hover,
  a:focus {
    background: $light-text-background-color-darker;
    color: $primary-color-lighter;
  }

  a:active {
    background: darken($light-text-background-color-darker, 15);
  }
}
