fieldset {
  background: $light-block-background-color;
  border: 0;
  padding: 2em 2em 1em;

  legend {
    display: block;
    float: left;
    font-size: 150%;
    margin: 0 0 .75em;
    padding: 0;
  }

}

.fieldset-wrapper {
  clear: both;

  > .form-wrapper {
    margin-bottom: .75em;
  }
}

.fieldset-description {
  margin-bottom: .75em;
}

html.js fieldset.collapsed {
  height: auto;
}

fieldset.collapsible .fieldset-title {
  text-decoration: none;
}

fieldset fieldset {
  background: darken($light-block-background-color, 5%);
  padding: 1em 1em 0;

  legend {
    font-size: 120%;
    font-weight: bold;
  }
}
