input[type="text"],
input[type="password"] {
  border: 2px solid $input-text-border-color;
  box-sizing: border-box;
  padding: .5em;
  width: 100%;

  @include breakpoint($display-medium) {
    width: auto;
  }
}
