select {
  @include appearance(none);
  background-image: url('../images/sort.svg');
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-size: 10px;
  border: 2px solid $input-text-border-color;
  border-radius: 3px;
  font-size: inherit;
  font-family: inherit;
  padding: .5em 30px .5em .5em;
}

fieldset select {
  max-width: 100%;
  width: 100%;
}
