table {
  background: $light-table-background-color;
  border: 0;
  width: 100%;
}

tbody {
  border: 0;
}

th,
td {
  border-color: $light-table-border-color;
  border-style: solid;
  border-width: 0 0 1px;
  padding: .75em;
}

th {
  background: $light-table-head-background-color;
  border: 0;
  color: $light-table-head-text-color;
}

tr.even,
tr.odd {
  background: transparent;
  border: 0;
}
