.field-name-field-review-status {
  border-radius: 4px;
  padding: 1em 1.5em;

  &.field-value-completed,
  &.field-value-ready-to-send {
    @include icon-ok-circled;
    background-color: $status-background-color;
    color: $status-color;
  }

  &.field-value-awaiting-signatures {
    @include icon-info-circled;
    background-color: $notice-background-color;
    color: $notice-color;
  }

  &.field-value-missing-routing {
    @include icon-attention-circled;
    background-color: $warning-background-color;
    color: $warning-color;
  }

  &.field-value-rejected,
  &.field-value-deleted {
    @include icon-cancel-circled;
    background-color: $error-background-color;
    color: $error-color;
  }

  .field-label,
  .field-items {
    display: inline-block;
    float: none;
  }
}
