form .field-multiple-table {

  th.field-label {
    padding-left: .75em;
  }

  td {
    padding-right: 14em;
    position: relative;
  }

  [type="submit"] {
    bottom: 0;
    margin: 0 1em 1em;
    position: absolute;
    right: 0;
  }
}
