div.messages {
  background-image: none;
  border: 0;
  border-radius: 4px;
  margin-bottom: 1.5em;
  padding: 1em 1.5em 1em 3.5em;
  position: relative;

  &::before {
    left: 0;
    margin: 1.25em;
    position: absolute;
    top: 0;
  }
}

div.status {
  @include icon-ok-circled;
  background-color: $status-background-color;
}

div.error {
  @include icon-cancel-circled;
  background-color: $error-background-color;
}

div.warning {
  @include icon-attention-circled;
  background-color: $warning-background-color;
}

div.notice {
  @include icon-info-circled;
  background-color: $notice-background-color;
}
