.st-key {
  background: $light-table-head-background-color;
  border: 0;
  color: $light-table-head-text-color;
  width: 1%;
  white-space: nowrap;
}

.stacktable.small-only {
  display: table;

  @include breakpoint($display-medium) {
    display: none;
  }
}

.stacktable.large-only {
  display: none;

  @include breakpoint($display-medium) {
    display: table;
  }
}
