#user-login {
  
  .cas-links {
    margin: 0 0 1em;
    
    li {
      margin: 0;
    }
    
    a {
      border: 2px solid #333;
      border-radius: 2em;
      color: #333;
      display: table;
      font-size: 92%;
      font-weight: bold;
      padding: .15em .75em;
      text-decoration: none;
    }
    
    a:hover,
    a:focus {
      background-color: #333;
      color: #fff;
    }
  }
}