.view-review-signature-requests {
  $action-button-breakpoint: $display-small + 100px;

  .views-field-sign a {
    background: $light-text-link-color;
    border: 1px solid $light-text-link-color;
    border-radius: 2em;
    box-sizing: border-box;
    color: $light-table-background-color;
    display: block;
    font-size: 90%;
    margin: 0 0 .25em;
    padding: .2em .65em;
    text-decoration: none;
    transition: all .5s;
    white-space: nowrap;
    width: 100%;

    @include breakpoint($display-medium) {
      display: inline;
      margin: 0 .5em 0 0;
    }

    &:hover,
    &:focus {
      background: $light-table-background-color;
      color: $light-text-link-color;
    }
  }

  .view-footer .view {
    margin: 0 0 1.5em;

    @include breakpoint($action-button-breakpoint) {
      float: left;
    }

    a {
      display: block;
      margin: 0 1em 1.5em 0;

      @include breakpoint($action-button-breakpoint) {
        display: inline-block;
      }
    }
  }
}
