body {
  line-height: 1.5;
  margin: 0;
}

fieldset,
p,
ol,
table,
ul {
  margin: 0;
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: $light-heading-text-color;
  font-weight: normal;
  margin-top: 0;
}
