@mixin button(
  $background-color: $dark-button-background-color,
  $color: $dark-button-text-color,
  $hover-background-color: $dark-button-hover-background-color,
  $hover-color: $dark-button-hover-text-color,
  $active-background-color: $wwu-lime,
  $active-color: $wwu-blue
) {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $background-color;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: $color;
  display: inline-block;
  font-family: inherit;
  line-height: inherit;
  padding: .8em 2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s;

  &:hover,
  &:focus {
    background-color: $hover-background-color;
    border: 0;
    box-shadow: none;
    color: $hover-color;
    text-decoration: none;
  }

  &:active {
    background-color: $active-background-color;
    color: $active-color;
    text-decoration: none;
  }
}
