// -----------------------------------------------------------------------------
//
// MAIN PALLETTE
//
// -----------------------------------------------------------------------------

// PRIMARY COLORS

$primary-color: $wwu-light-blue;
$primary-color-lighter: desaturate(lighten($wwu-light-blue, 25), 25);
$primary-color-darker: darken($wwu-light-blue, 12);

// SECONDARY COLORS

$secondary-color: $wwu-blue;
$secondary-color-lighter: desaturate(lighten($wwu-blue, 25), 25);

// ACCENT COLORS

$accent-color: $wwu-lime;
$accent-color-alternate: $wwu-yellow;

// -----------------------------------------------------------------------------
//
// TEXT COLORS
//
// -----------------------------------------------------------------------------

// DARK

$dark-text-color: #000;
$dark-text-link-color: $wwu-light-blue;
$dark-text-background-color: #eee;
$dark-text-background-color-lighter: #fff;
$dark-text-background-color-darker: #ddd;
$dark-text-accent-color: #aaa;

// LIGHT

$light-text-color: #fff;
$light-text-link-color: $wwu-ocean-blue;
$light-text-link-hover-color: $wwu-blue;
$light-text-background-color: $wwu-blue;
$light-text-background-color-lighter: desaturate(lighten($wwu-blue, 12), 12);
$light-text-background-color-darker: saturate(darken($wwu-blue, 12), 12);

$light-heading-text-color: #333;

// -----------------------------------------------------------------------------
//
// BUTTON COLORS
//
// -----------------------------------------------------------------------------

// LIGHT

$light-button-text-color: #fff;
$light-button-background-color: $wwu-light-blue;
$light-button-hover-text-color: #fff;
$light-button-hover-background-color: $wwu-blue;

// DARK

$dark-button-text-color: #fff;
$dark-button-background-color: $wwu-blue;
$dark-button-hover-text-color: #fff;
$dark-button-hover-background-color: $wwu-light-blue;

// ACCENT

$accent-button-text-color: $secondary-color;
$accent-button-background-color: $accent-color;
$accent-button-hover-text-color: #fff;
$accent-button-hover-background-color: $wwu-blue;

// -----------------------------------------------------------------------------
//
// INPUT COLORS
//
// -----------------------------------------------------------------------------

$input-text-color: #111;
$input-text-background-color: #fff;
$input-text-border-color: #ddd;

// -----------------------------------------------------------------------------
//
// BLOCK COLORS
//
// -----------------------------------------------------------------------------

// LIGHT

$light-block-text-color: #111;
$light-block-background-color: #eee;
$light-block-link-color: #444;

// -----------------------------------------------------------------------------
//
// TABLE COLORS
//
// -----------------------------------------------------------------------------

// LIGHT

$light-table-background-color: #f6f6f6;
$light-table-border-color: #ddd;
$light-table-head-background-color: #444;
$light-table-head-text-color: #fff;

// -----------------------------------------------------------------------------
//
// MESSAGE COLORS
//
// -----------------------------------------------------------------------------

$notice-background-color: desaturate(lighten($wwu-light-blue, 45), 55);
$status-background-color: desaturate(lighten($wwu-lime, 25), 35);
$error-background-color: saturate(lighten($wwu-red, 40), 10);
$warning-background-color: desaturate(lighten($wwu-yellow, 25), 20);

$notice-color: desaturate($wwu-blue, 30);
$status-color: #234600;
$warning-color: #840;
$error-color: #8c2e0b;
