%icon {
  &::before {
    display: inline-block;
    font-family: 'fontello';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    margin-right: .5em;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
  }
}

@mixin icon-ok {
  @extend %icon;

  &::before {
    content: '\e800';
  }
}

@mixin icon-cancel {
  @extend %icon;

  &::before {
    content: '\e801';
  }
}

@mixin icon-plus {
  @extend %icon;

  &::before {
    content: '\e802';
  }
}

@mixin icon-pencil {
  @extend %icon;

  &::before {
    content: '\e803';
  }
}

@mixin icon-edit {
  @extend %icon;

  &::before {
    content: '\e804';
  }
}

@mixin icon-inbox {
  @extend %icon;

  &::before {
    content: '\e805';
  }
}

@mixin icon-mail {
  @extend %icon;

  &::before {
    content: '\e806';
  }
}

@mixin icon-logout {
  @extend %icon;

  &::before {
    content: '\e807';
  }
}

@mixin icon-login {
  @extend %icon;

  &::before {
    content: '\e808';
  }
}

@mixin icon-trash-empty {
  @extend %icon;

  &::before {
    content: '\e809';
  }
}

@mixin icon-plus-circled {
  @extend %icon;

  &::before {
    content: '\e80a';
  }
}

@mixin icon-cancel-circled {
  @extend %icon;

  &::before {
    content: '\e80b';
  }
}

@mixin icon-ok-circled {
  @extend %icon;

  &::before {
    content: '\e80c';
  }
}

@mixin icon-attention-circled {
  @extend %icon;

  &::before {
    content: '\e80d';
  }
}

@mixin icon-ccw {
  @extend %icon;

  &::before {
    content: '\e80e';
  }
}

@mixin icon-info-circled {
  @extend %icon;

  &::before {
    content: '\e80f';
  }
}

@mixin icon-link-ext {
  @extend %icon;

  &::before {
    content: '\f08e';
  }
}

@mixin icon-doc-text {
  @extend %icon;

  &::before {
    content: '\f0f6';
  }
}

@mixin icon-right {
  @extend %icon;

  &::before {
    content: '\f178';
  }
}

@mixin icon-paper-plane {
  @extend %icon;

  &::before {
    content: '\f1d8';
  }
}

@mixin icon-user-plus {
  @extend %icon;

  &::before {
    content: '\f234';
  }
}
