@import url('https://fonts.googleapis.com/css?family=Muli:400,400italic');

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?55096448');
  src: url('../font/fontello.eot?55096448#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?55096448') format('woff2'),
       url('../font/fontello.woff?55096448') format('woff'),
       url('../font/fontello.ttf?55096448') format('truetype'),
       url('../font/fontello.svg?55096448#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-family-serif: Georgia, "Times New Roman", "DejaVu Serif", serif;
$font-family-sans-serif: $muli;
